<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @blog, local: true, data: {turbo: false}) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>タイトル:<%= @blog.title %></p>
  <p>本文:<%= @blog.content %></p>
  <p>
    <strong>Image:</strong>
    <% if @blog.image.present? %>
      <%= image_tag @blog.image.url %>
      <%= hidden_field_tag :"cache[image]",@blog.image.cache_name %>
    <% else %>
      画像はありません
    <% end %>
  </p>
  
  <%= form.submit  "登録する" %>

  <%= form.submit "戻る", name: 'back' %>

<% end %>
