<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tops", "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo", type: "module" %> <%# 削除機能をできるようにするため %>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="#">Bootstrapテキストページ</a></li>
        <li><a href="#">トップページ</a></li>
      </ul>
    </header>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "Logout", new_session_path(current_user.id), data: { turbo_method: :delete} %>
    <% else %>
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Login", new_session_path %>
    <% end %>
    
    <%= yield %>
    <%= javascript_importmap_tags %>
    <footer>
      <p>有限会社田富調剤薬局</p>
      <p>Access:山梨県中央市西花輪○○○○-××</p>
    </footer>
  </body>
</html>
